<div class="row sign-in-form" *ngIf="!isAuthorized()">
    <h4 class="name">Sign-in</h4>
    <div class="col-md-10 col-md-offset-1 col-xs-10 col-xs-offset-1">
        <form [formGroup]="loginForm" (ngSubmit)="signIn($event)" novalidate>
            <div class="form-group">
                <label for="exampleInputEmail1">
                    Login
                    <small *ngIf="!loginForm.controls.email.valid && submitted" class="text-danger">
                        is required.
                    </small>
                </label>
                <input type="email" class="form-control" id="exampleInputEmail1" formControlName="email" placeholder="Email" [(ngModel)]="userData.username">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">
                    Password
                    <small *ngIf="!loginForm.controls.password.valid && submitted" class="text-danger">
                        is required.
                    </small>
                </label>
                <input type="password" class="form-control" id="exampleInputPassword1" formControlName="password" placeholder="Password" [(ngModel)]="userData.password">
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox"> Remember me
                </label>
            </div>
            <button type="submit" style="width: 100%;" class="btn btn-primary responsive-btn">Sign-in</button>
            <div class="alert alert-danger text-center" *ngIf="error">
                Credentials are not match!
            </div>
        </form>
    </div>
</div>
<div class="signed-in" *ngIf="isAuthorized()">
    <h4 class="name">
       {{user.profile?.name}}
    </h4>
    <ul class="sidebar-nav">
        <li><a routerLink="dashboard">Dashboard</a></li>
        <li><a routerLink="discourses">Discourses</a></li>
        <li><a routerLink="speakers">Speakers</a></li>
        <li><a routerLink="speechesh">Speeches</a></li>
        <li><a routerLink="profile">Profile</a></li>
        <li class="logout">
            <a (click)="logout()">Logout</a>
        </li>
    </ul>
</div>