<div class="container">
    <div class="row wow fadeIn">
        <div class="col-md-12 col-xs-12 step deployment">
            <div class="row">
                <div class="col-md-6 col-xs-12">
                    <h3><span>4</span> Deployment & Support</h3>
                    <div class="step-description">
                        <p>Продукт готовиться к использованию реальными клиентами. Мы переносим систему на продакшн
                            сервер, настраиваем соединения с Базой Данных, вспомогательными сервисами.</p>
                        <p>Выявленные ошибки, недоработки после выката проекта «шлифуются» до рабочего состояния.</p>
                    </div>
                </div>
                <div class="col-md-6 col-xs-12">
                    <app-deployment-process></app-deployment-process>
                </div>
            </div>
        </div>
    </div>
</div>