<div class="container">
    <div class="col-md-12 col-xs-12  step start-development">
        <div class="row">
            <div class="col-md-6 col-xs-12">
                <h3><span>3</span> Приступаем к разработке</h3>
                <div class="step-description">
                    <p>
                        Этот этап делится на множество спринтов, от 1-3 недель каждый. Каждый спринт завершается
                        тестированием уже готовго функционала. Весь процесс разработки контролируется заказчиком.
                    </p>
                </div>
            </div>
            <div class="col-md-12 col-xs-12 start-development step">
                <app-developing-process [run]="run"></app-developing-process>
            </div>
        </div>
    </div>
</div>