<header class="header index" id="top">
    <div class="content">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 wow fadeIn index-title text-center">
                <h1 class="promotion destroyCursor"><typeit [strings]="['Push your business <br> into virtual world']" [duration]="60"></typeit></h1>
<!--                <h3 class="wow fadeIn" data-wow-delay="6s">-->
<!--                    We are experienced in <span class="typed"><typeit [strings]="['market places', 'CRM systems']" [loop]="true" [backDelay]="30000"></typeit></span>-->
<!--                </h3>-->
            </div>
        </div>
        <div class="container">

<!--            <div class="project-container">-->
<!--                <div class="container">-->
<!--                    <div class="row">-->
<!--                        <div class="col-md-7 col-xs-12 pull-right">-->
<!--                            <div class="row">-->
<!--                                <div class="col-md-12 project-owner">-->
<!--                                    <h3 class="text-right wow fadeIn" data-wow-delay="7s">-->
<!--                                        <typeit [strings]="['Meet Taras Rozgon']" [cursor]="false" [delay]="7050"></typeit>-->
<!--                                        <span class="wow fadeIn" data-wow-delay="8s">-->
<!--                                            <span class=V>v.</span><span class=P>p.</span><span class=U>u.</span><span class=T>t.</span> founder-->
<!--                                        </span>-->
<!--                                    </h3>-->
<!--                                    <p class="wow fadeIn project-owner-description" data-wow-delay="10s">-->
<!--                                        3 years on realty online rental market. What does he have now?-->
<!--                                    </p>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="row">-->
<!--                                <div class="col-md-9 pull-right project-info">-->
<!--                                    <div class="row project-stats wow fadeIn" data-wow-delay="12s">-->
<!--                                        <div class="col-md-4 col-xs-4 text-center">-->
<!--                                            <h3>Hosts</h3>-->
<!--                                            <h2 class="first"><countup [start]="1" [end]="1500" [delay]="12000" [duration]="2"></countup></h2>-->
<!--                                        </div>-->
<!--                                        <div class="col-md-4 col-xs-4 text-center">-->
<!--                                            <h3>Guests</h3>-->
<!--                                            <h2 class="second"><countup [start]="1" [end]="3000" [delay]="12300" [duration]="2"></countup></h2>-->
<!--                                        </div>-->
<!--                                        <div class="col-md-4 col-xs-4 text-center">-->
<!--                                            <h3>Orders</h3>-->
<!--                                            <h2 class="third"><countup [start]="1" [end]="4000" [delay]="12300" [duration]="2"></countup></h2>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
        </div>
    </div>
<!--    <div class="taras bgImg wow fadeIn" data-wow-delay="8s"></div>-->
</header>