<div class="row">
    <div class="col-md-12 section-header">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="wow fadeIn text-center">Порядок сотрудничества</h1>
                    <h4 class="wow fadeIn text-center">Организованный подход делает работу эффективной, а результаты прогнозируемыми</h4>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="container steps-container">
            <div class="section">
                <div class="col-md-6 col-xs-12 wow fadeIn step evaluation">
                    <h3><span>1</span> Оцениваем сроки и стоимость</h3>
                    <div class="step-description">
                        <p>Мы тратим от 2-4 дней на оценку идеи. После этого мы предоставим предварительные сроки и стоимость работ.</p>
                        <p>Предварительная оценка включается в стоимость, если заказчик соглашается на разработку.</p>
                    </div>
                </div>
                <div class="col-md-12 col-xs-12 step evaluation-diagram">
                    <app-evaluation-process></app-evaluation-process>
                </div>
            </div>
            <div class="section">
                <div class="row">
                    <div class="col-md-6 col-xs-12 wow fadeIn step project-development">
                        <h3><span>2</span> Разрабатываем детальный проект</h3>
                        <div class="step-description">
                            <p>В течение 2-6 недель мы готовим техническую документацию для разработки системы.</p>
                            <p>Оплаченный технический проект является собственностью заказчика</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 text-right between-step wow fadeIn">
                        <blockquote class="quote-copy">
                            <p>
                                "Детальный проект - это лучший способ избежать критических архитектурных ошибок,
                                эффективно задействовать каждого разработчика, прогнозировать
                                развитие продукта, упростить развитие системы."
                            </p>
                        </blockquote>
                        <div class="quote-author">
                            <div class="caption">
                                <h5 class="caption-headline">Popov Andrew</h5>
                                <p class="caption-copy">WebDelo CEO, <span class=V>v.</span><span class=P>p.</span><span class=U>u.</span><span class=T>t.</span> co-founder</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section">
                <div class="row wow fadeIn">
                    <div class="col-md-12 col-xs-12  step start-development">
                        <div class="row">
                            <div class="col-md-6 col-xs-12">
                                <h3> <span>3</span> Приступаем к разработке</h3>
                                <div class="step-description">
                                    <p>
                                        Этот этап делится на множество спринтов, от 1-3 недель каждый. Каждый спринт завершается
                                        тестированием уже готовго функционала. Весь процесс разработки контролируется заказчиком.
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-12 col-xs-12 start-development step">
                                <app-developing-process></app-developing-process>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section">
                <div class="row wow fadeIn">
                    <div class="col-md-12 col-xs-12 step deployment">
                        <div class="row">
                            <div class="col-md-6 col-xs-12">
                                <h3> <span>4</span> Deployment & Support</h3>
                                <div class="step-description">
                                    <p>Продукт готовиться к использованию реальными клиентами. Мы переносим систему на продакшн
                                        сервер, настраиваем соединения с Базой Данных, вспомогательными сервисами.</p>
                                    <p>Выявленные ошибки, недоработки после выката проекта «шлифуются» до рабочего состояния.</p>
                                </div>
                            </div>
                            <div class="col-md-6 col-xs-12">
                                <app-deployment-process></app-deployment-process>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>