<div class="container wow fadeIn step project-development">
    <div class="row">
        <div class="col-md-12">
            <h3><span>2</span> Разрабатываем детальный проект</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-xs-12">
            <div class="step-description">
                <p>В течение 2-6 недель мы готовим техническую документацию для разработки системы.</p>
                <p>Оплаченный технический проект является собственностью заказчика</p>
            </div>
        </div>
        <div class="col-md-6 col-xs-12">
            <div class="col-md-12 text-right between-step wow fadeIn">
                <blockquote class="quote-copy">
                    <p>
                        "Детальный проект - это лучший способ избежать критических архитектурных ошибок,
                        эффективно задействовать каждого разработчика, прогнозировать
                        развитие продукта, упростить развитие системы."
                    </p>
                </blockquote>
                <div class="quote-author">
                    <div class="caption">
                        <h5 class="caption-headline">Popov Andrew</h5>
                        <p class="caption-copy">WebDelo CEO, <span class=V>v.</span><span class=P>p.</span><span
                                class=U>u.</span><span class=T>t.</span> co-founder</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <app-project-process></app-project-process>
        </div>
    </div>
</div>